<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OEHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TURsplitsReceiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OEHelper.Properties.Settings>
            <setting name="NokiaComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ORISid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="labelWorkingDir" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="activeTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="organizerIdentificationL1" serializeAs="String">
                <value>Tělovýchovná jednota Turnov z.s.</value>
            </setting>
            <setting name="ORISSecKey" serializeAs="String">
                <value />
            </setting>
            <setting name="rentSIFee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="organizerIdentificationL2" serializeAs="String">
                <value>Skálova 207, Turnov, 511 01</value>
            </setting>
            <setting name="organizerIdentificationL3" serializeAs="String">
                <value>IČ: 15045528</value>
            </setting>
            <setting name="eventName" serializeAs="String">
                <value>Jméno závodu pro doklady - DD.MM.YYYY</value>
            </setting>
            <setting name="eventDate" serializeAs="String">
                <value>Datum na pokladni lístek</value>
            </setting>
            <setting name="organizerIdentificationAbbr" serializeAs="String">
                <value>Zkratka klubu</value>
            </setting>
            <setting name="fromOE" serializeAs="String">
                <value>True</value>
            </setting>
        </OEHelper.Properties.Settings>
        <TURsplitsReceiver.Properties.Settings>
            <setting name="NokiaComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ORISid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="labelWorkingDir" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="activeTab" serializeAs="String">
                <value>0</value>
            </setting>
        </TURsplitsReceiver.Properties.Settings>
    </userSettings>
</configuration>